<a href="https://colab.research.google.com/github/sushantsekhar1/python_assignment/blob/python_basic/Assignment_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*  *
*  'hello'
*   -87.8
*   -
*   /
*   +
*   6

Elements | Values & Expression
- | -
* | expression (mathematical operator)
'hello' | value (string)
-87.8 | value (float)
- | expression (mathematical operator)
/ | expression (mathematical operator)
+ | expression (mathematical operator)
6 | value (integer)

## 2. What is the difference between string and variable?

## String

*  String in python written in either single quote and double quote.
*  A string is a sequence of one or more characters (letters, numbers, symbols) that can be either a constant or a variable.
*  In Python, we can join two or more strings i.e.(concatenate) using the + operator.
*  We use the == operator to compare two strings. If two string is equal it return TRUE, Otherwise it return FALSE.
*  We can also create a multiline string in Python.we use triple double quotes """ or triple single quotes """.

In [4]:
a = "Hello"
b = 'World'
print(a,b)

Hello World

In [6]:
a = """India, officially the Republic of India is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world."""
print(a)

India, officially the Republic of India is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world.

In [3]:
# Taking input from user
a = "Hey,I am ram"
b = "Hello World"
c = "Hey,I am ram"

# compare a and b
print(a == b)

# compare a and c
print(a == c)

False
True

## Variable

*  Variables are symbols that you can use to store data in a program.
*  It an empty box that we fill with some data or value.Data will be an integer,a string, float,etc.

* Ruels and Regulation for naming the variable -

  1. The variable name should either start with an Uppercase(A to Z) or Lowercase(a to z) character or an underscore(_). 
  2. A variable not start with digit or contain any whitespace or any special symbol like *,@,%,&,etc.
  3. variable names are case-sensitive(name, Name and NAME are three different variables).
  4. you not use any reserved word (keywords) as a variable name.

In [7]:
# declaring the variable
num = 100
 
# display the data 
print( num)

100

In [8]:
# declaring the variable
num = 1112
 
# Before display the variable
print("Before declare: ", num)
 
# re-declare the var
num = 122.4
 # After display the variable  
print("After re-declare:", num)

Before declare:  1112
After re-declare: 122.4

## 3. Describe three different data types.

Data Types are used to define the type of a variable.it defines what type of data we are going to store in a variable.

For example -  A man age store a numberic value and his name store in string character.

In Python, data-types are:-

1. Numeric

2. Boolean

3. Sequence Type

4. Set

5. Dictionary

## Numeric

In python, Numeric data types repersent numeric value.Numeric Value can be integer,floating number or complex numbers.

These values defined as:

* Integer -> int
* Float -> float
* Complex -> complex

1. Intiger

* It value is represent by int class. It can be positive,negative,zero and it can't witten in decimal or fractional value.
* In Python there is no limit to how long an integer value can be.
 
  example: 2,-5,0,etc

2. Float

* It value is reprersent by float class. It can be represent by decimal point and fractional value.

  example: 22.4,44.6,55/7,etc

3. Complex

* It value is represent by complex classs. it is specified by (real part)+(imaginary part)j.

  example: (2+3j),(-3+5j),etc

In [10]:
a = 5 # intiger
print("Type of a: ", type(a))
  
b = 5.2 # float
print("\nType of b: ", type(b))
  
c = 2 + 4j # complex
print("\nType of c: ", type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

## Boolean

It is denoted by the class bool. In Boolean data types it has two value i.e. True and False.In boolean object is equal to True it return True otherwise it return False.

In [13]:
print(type(True)) # it is vaild
print(type(False)) # it is valid
  
print(type(false)) # it is not valid

<class 'bool'>
<class 'bool'>

NameError: ignored

## List

List are store multiple item in single variable. Lists are created using square brackets [] and seperate by comma , .

In [16]:
# A list with 3 integers
num = [1, 2, 5]
# A list with 3 String
num2 = ["Hello","Sun","Man"]
# A list with mixed data types
num3 = [13, "Hello", 7.4]

print(num)
print(num2)
print(num3)

[1, 2, 5]
['Hello', 'Sun', 'Man']
[13, 'Hello', 7.4]

## 4. What is an expression made up of? What do all expressions do?

A exression is a combination of operators,costant and variable.An expression is consist of one or more operands.

Expression are representation of value.
For example any string is also an expressions since it represents the value of the string.

 ## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

A combination of operands and operators is called an expression.The expression in Python produces some value after being interpreted by the Python interpreter

An expression in Python is very different from statements in Python. A statement is not evaluated for some results.

In [18]:
spam = 10 # A Statment
spam = spam + 12 # An Expression

print(spam)

22

## 6. After running the following code, what does the variable bacon contain?
## bacon = 22
## bacon + 1

In [20]:
bacon = 22
bacon+1

23

## 7. What should the values of the following two terms be?
##    'spam' + 'spamspam'
##    'spam' * 3

In [22]:
a = 'spam'+'spamspam'
b = 'spam'*3
print(a)
print(b)

spamspamspam
spamspamspam

## 8. Why is eggs a valid variable name while 100 is invalid?

100 is a intiger and eggs is variable.

It is Ruel and Regulation For Variable.
 
The variable name should either start with an Uppercase(A to Z) or Lowercase(a to z).A variable not start with digit .

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Integer —> int()

Floating-point —> float()

String —> str()

## 10. Why does this expression cause an error? How can you fix it?
## 'I have eaten' + 99 + 'burritos.'

99 is an integer and not a string.If 99 can convert into string.

"99" is convert into string.

In [25]:
a = 'I have eaten' + 99 + 'burritos.' # 99 is not a string.
# we can't concatenate string and intiger.
# Only we concatenate string to string.
print(a)

TypeError: ignored

In [27]:
a = 'I have eaten' + "99" + 'burritos.'
# if 99 can convert string -> "99"
print(a)

I have eaten99burritos.