<a href="https://colab.research.google.com/github/sushantsekhar1/python_assignment/blob/python_basic/Assignment_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

```
1.What are the two values of the Boolean data type? How do you write them?
```

```
In Python, there are two value of boolean data type, which represents one of the two values i.e. True or False.

It is generally represent Truth Value of the expression.

Example: if 1 == 1 it give True Value whereas 2 < 1 it gives False Value.
```

In [2]:
a  = True
print(type(a))

b = False
print(type(b))

<class 'bool'>
<class 'bool'>

In [4]:
a = 4
b = 5

print(a == b)

False

In [5]:
a = 5
b = 5

print(a == b)

True

```
2. What are the three different types of Boolean operators?
```

```
There are three different types of boolean operator are

1. AND
2. OR
3. NOT

Boolean Operator return two Value i.e. True and False.
```

```
3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).
```

Truth Table Of AND

A | B | Output
- | - | -
True | True | True
True | False | False
False | True | False
False | False | False

Truth Table Of OR

A | B | Output
- | - | -
True | True | True
True | False | True
False | True | True
False | False | False

Truth Table Of NOT

A | Output
- | -
True | False
False | True

```
4. What are the values of the following expressions?

(5 > 4) and (3 == 5)
not (5 > 4)
(5 > 4) or (3 == 5)
not ((5 > 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)
```

In [11]:
print(5 > 4) and (3 == 5)
print(not (5 > 4))
print((5 > 4) or (3 == 5))
print( not ((5 > 4) or (3 == 5)))
print((True and True) and (True == False))
print((not False) or (not True))

True
False
True
False
False
True

```
5. What are the six comparison operators?
```

```
There are Six Comparision Operators

1. ==  -> equal to
2. !=  -> not equal to
3. >=  -> greater equal to
4. <=  -> less equal to
5. >   -> greater than
6. <   -> less than
```

```
6. How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.
```

```
== is used to compare two values and evaluate to a boolean value.

= is a assignment operator that is used to store a value in a variable.
```

In [2]:
# Equal to operator 

if (2 == 3):
  print("True")
else:
  print("False")

False

In [3]:
# Assignment Operator

# Here we used assignment operator to assign the value in a which is 2.

A = 2
print(f"A = {A}")

A = 2

```
7. Identify the three blocks in this code:
spam = 0
if spam == 10:
print('egg')
if spam > 5:
print('bacon'):
else:
print('ham')
print('spam')
print('spam')
```

In [5]:
spam = 0
if spam == 10:
  print('egg')
if spam > 5:
  print('bacon')
else:
  print('ham')
  print('spam')
  print('spam')

ham
spam
spam

```
8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.
```

In [8]:
# Taking input through user
spam = int(input("Enter the number:"))

# Checking Condition
if spam == 1:
  print("Hello")
elif spam == 2:
  print("Howdy")
else:
  print("Greetings!")

Enter the number:4
Greetings!

```
9.If your programme is stuck in an endless loop, what keys you’ll press?
```

```
If program is stuck in aendless loop then we press CTRL + C
```

```
10. How can you tell the difference between break and continue?
```

```
The break statement is used to terminate the loop or statement in which it is present.
```

In [11]:
 # Break statement
for i in range(10):
  if i == 8:
    break
  print(i)

0
1
2
3
4
5
6
7

```
Continue statement is opposite to the break statement.it forces to execute the next iteration of the loop.
```

In [12]:
# Continue Statement
for i in range(10):
  if i == 8:
    continue
  print(i)

0
1
2
3
4
5
6
7
9

```
11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?
```

In [14]:
for i in range(10):
  print(i)
print("************************************")
for i in range(0,10):
  print(i)
print("************************************") 
for i in range(0, 10, 1):
  print(i)
print("************************************")

0
1
2
3
4
5
6
7
8
9
************************************
0
1
2
3
4
5
6
7
8
9
************************************
0
1
2
3
4
5
6
7
8
9
************************************

```
From above output, we can conclude all they do same thing .

In range(10) it start with 0 to 9 (not including 10).
In range (0, 10) tell the loop start with 0 and end with 9 (not including 10)
In range (0, 10, 1) tells the loop to increase the variable by 1 on each iteration.
```

```
12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.
```

In [16]:
# Using For Loop
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
# Using While Loop
a = 1
while a <= 10:
  print(a)
  a += 1

1
2
3
4
5
6
7
8
9
10

```
13. If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?
```

```
This function can be called with spam.bacon().
```